My workflow.json
{
  "name": "Job Application Automation",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Personal Resume and Cover letter generator",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Job Title"
            },
            {
              "fieldLabel": "Company Name"
            },
            {
              "fieldLabel": "Language",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "English Only"
                  },
                  {
                    "option": "German Only"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Job Description"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        -128
      ],
      "id": "4a376729-054c-42df-b96d-c2cf207c3857",
      "name": "On form submission",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e12aa7d7-8d14-426c-91a7-7dec75fe555d",
              "name": "slug",
              "value": "={{ $json['Company Name'].toLowerCase().replace(/[^a-z0-9]+/g, '-')}}",
              "type": "string"
            },
            {
              "id": "8c678ec7-06e4-44ef-b78e-3d78c2be548f",
              "name": "utmCoverLetterEN",
              "value": "={{ 'https://YOUR_PORTFOLIO_DOMAIN/?utm_source=cover-letter-english&utm_medium=pdf&utm_term=' + $json['Company Name'].toLowerCase().replace(/[^a-z0-9]+/g, '-') }}",
              "type": "string"
            },
            {
              "id": "02111542-3e09-457a-becb-658385130272",
              "name": "utmCoverLetterDE",
              "value": "={{ 'https://YOUR_PORTFOLIO_DOMAIN/?utm_source=anschreiben-deutsch&utm_medium=pdf&utm_term=' + $json['Company Name'].toLowerCase().replace(/[^a-z0-9]+/g, '-') }}",
              "type": "string"
            },
            {
              "id": "c7324ec3-aaa2-424a-8781-3ea474991b51",
              "name": "fileBase",
              "value": "={{ 'YOUR_LASTNAME_FIRSTNAME_' + $json['Company Name'].replace(/[^a-zA-Z0-9]/g, '_') + '_' + $json['Job Title'].replace(/[^a-zA-Z0-9]/g, '_') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -128
      ],
      "id": "344ab3af-266d-4b1f-bd01-c5f0ab4b96d5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a resume tailoring assistant for YOUR_NAME, a YOUR_ROLE specialist.\n\nAnalyze their ACTUAL resume against the job description and suggest specific changes to maximize ATS keyword match.\n\nCANDIDATE'S ACTUAL RESUME:\n{{ $json.resumeText }}\n\nJOB TITLE: {{ $json['Job Title'] }}\nCOMPANY: {{ $json['Company Name'] }}\n\nJOB DESCRIPTION:\n{{ $json['Job Description'] }}\n\nIMPORTANT RULES:\n- Only suggest changes using skills and experience already in the resume\n- Never invent tools or experience the candidate does not have\n- Show the EXACT original bullet text and the EXACT replacement text so it can be auto-applied later\n\nReturn ONLY plain text with this structure:\n1. ATS score before (%)\n2. ATS score after (%)\n3. Top 5 missing keywords from JD\n4. Top 3 resume changes:\n   CHANGE 1:\n   ORIGINAL: [exact original text from resume]\n   REPLACE WITH: [new text using JD keywords]\n   REASON: [one sentence]\n   \n   CHANGE 2:\n   ORIGINAL: [exact original text]\n   REPLACE WITH: [new text]\n   REASON: [one sentence]\n   \n   CHANGE 3:\n   ORIGINAL: [exact original text]\n   REPLACE WITH: [new text]\n   REASON: [one sentence]",
        "messages": {
          "messageValues": []
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1120,
        -432
      ],
      "id": "bdb59a9c-88aa-40ec-a6f6-cbc411736d3a",
      "name": "Analyse Resume EN"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1192,
        -208
      ],
      "id": "739f18c0-2819-4a4d-bd13-2c443ba7d85f",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('On form submission').item.json.Language }}",
                    "rightValue": "English Only",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8f134b19-6c62-452a-a1b2-8fe1c4d515a5"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b72e8b89-7e70-4378-8485-ec1a9dc004b7",
                    "leftValue": "={{ $('On form submission').item.json.Language }}",
                    "rightValue": "German Only",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        896,
        -128
      ],
      "id": "3cbd0fe4-80e7-45f8-87ff-755fc31fb53c",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are writing a cover letter in English for YOUR_NAME.\n\nSTRUCTURE (follow exactly):\n- Paragraph 1: 2-3 sentences connecting the role to the candidate's focus. Never start with \"I am excited to apply\".\n- Bullet list: 4-5 achievements with real metrics using **bold** e.g. **YOUR_METRIC_1**, **YOUR_METRIC_2**, **YOUR_METRIC_3**, **YOUR_METRIC_4**, **YOUR_METRIC_5**\n- Paragraph 2: 2-3 sentences connecting specifically to the company mission\n- Closing line: one sentence of enthusiasm, then on a new line write exactly: YOUR_PORTFOLIO_DOMAIN\n- Sign off: \"Kind regards,\" then blank line then \"YOUR_NAME\"\n- STRICT: 250-280 words MAX. One A4 page only.\n\nHEADER (include exactly as written):\nYOUR_NAME | YOUR_CITY, YOUR_COUNTRY\nYOUR_EMAIL | YOUR_PHONE\nYOUR_LINKEDIN\nDate: {{ $now.toFormat('dd.MM.yyyy') }}\n\nSubject: Application for {{ $('On form submission').item.json['Job Title'] }} – {{ $('On form submission').item.json['Company Name'] }}\n\nDear {{ $('On form submission').item.json['Company Name'] }} Team,\n\nCONTEXT FOR WRITING:\nJOB TITLE: {{ $('On form submission').item.json['Job Title'] }}\nCOMPANY: {{ $('On form submission').item.json['Company Name'] }}\n\nRESUME ANALYSIS NOTES: {{ $json.text }}\n\nJOB DESCRIPTION:\n{{ $('On form submission').item.json['Job Description'] }}\n\nWrite the full cover letter now. Return only the cover letter text, nothing else.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1472,
        -328
      ],
      "id": "0842b272-67f8-4f19-b5c0-9c95c97eb03b",
      "name": "Cover Letter EN"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Du schreibst ein Anschreiben auf Deutsch für YOUR_NAME.\n\nSTRUKTUR (exakt einhalten):\n- Absatz 1: 2-3 Sätze, erster Satz beginnt kleingeschrieben nach \"Liebes [Firma] Team,\"\n- Bullet-Liste: 4-5 konkrete Leistungen mit echten Metriken z.B. **YOUR_METRIC_1**, **YOUR_METRIC_2**, **YOUR_METRIC_3**, **YOUR_METRIC_4**, **YOUR_METRIC_5**\n- Absatz 2: 2-3 Sätze zur Mission des Unternehmens — zeige echtes Verständnis\n- Abschlusssatz: ein Satz Begeisterung, dann neue Zeile schreibe exakt: YOUR_PORTFOLIO_DOMAIN\n- Grußformel: \"Viele Grüße,\" dann Leerzeile dann \"YOUR_NAME\"\n- STRIKT: 280-300 Wörter MAX. Eine A4-Seite.\n\nKOPFZEILE (exakt so übernehmen):\nYOUR_NAME | YOUR_CITY, YOUR_COUNTRY\nYOUR_EMAIL | YOUR_PHONE\nYOUR_LINKEDIN\nDatum: {{ $now.toFormat('dd.MM.yyyy') }}\n\nBetreff: Bewerbung als {{ $('On form submission').item.json['Job Title'] }} – {{ $('On form submission').item.json['Company Name'] }}\n\nLiebes {{ $('On form submission').item.json['Company Name'] }} Team,\n\nKONTEXT FÜR DAS SCHREIBEN:\nJOBTITEL: {{ $('On form submission').item.json['Job Title'] }}\nFIRMA: {{ $('On form submission').item.json['Company Name'] }}\nLEBENSLAUF-ANALYSE: {{ $json.text }}\n\nSTELLENAUSSCHREIBUNG:\n{{ $('On form submission').item.json['Job Description'] }}\n\nSchreibe jetzt das vollständige Anschreiben. Gib nur den Anschreiben-Text zurück, nichts anderes.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1120,
        72
      ],
      "id": "a68a0a2b-c838-4ddf-bdac-ae5afd9e6468",
      "name": "Cover Letter DE"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1192,
        296
      ],
      "id": "a5513477-8861-44d1-8c31-35af2cc4ca28",
      "name": "Anthropic Chat Model2",
      "credentials": {
        "anthropicApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-6",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1544,
        -104
      ],
      "id": "369e73b8-da93-4cb1-b13f-3a2973b679ff",
      "name": "Anthropic Chat Model3",
      "credentials": {
        "anthropicApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "={{ $json['Language'] === 'English Only' ? '/home/node/.n8n-files/Resume-EN.docx' : '/home/node/.n8n-files/Resume-DE.docx' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        448,
        -128
      ],
      "id": "172488b0-370b-44c3-85a3-dd3af11411f6",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "jsCode": "const mammoth = require('mammoth');\n\nconst language = $('Edit Fields').first().json['Language'];\nconst filePath = language === 'English Only' \n  ? '/home/node/.n8n-files/Resume-EN.docx'\n  : '/home/node/.n8n-files/Resume-DE.docx';\n\nconst result = await mammoth.extractRawText({ path: filePath });\n\nreturn [{\n  json: {\n    ...$('Edit Fields').first().json,\n    resumeText: result.value,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -128
      ],
      "id": "297322d6-bc71-4d46-a13f-74422df2963e",
      "name": "Extract Text From Resume"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyse Resume EN",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analyse Resume EN": {
      "main": [
        [
          {
            "node": "Cover Letter EN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Analyse Resume EN",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cover Letter DE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Cover Letter DE",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Cover Letter EN",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract Text From Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text From Resume": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "YOUR_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}